{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - Jeux Olympiques Paris 2024</title>
    <link href="{% static 'profil.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>

<div class="logo-container">
    <!-- Logo des Jeux Olympiques Paris 2024 -->
    <a href="{%url 'JO_app:home'%}"><img src="{% static 'images/paris_2024.png' %}" alt="Logo Jeux Olympiques Paris 2024" width='180px'></a>
</div>

<div class="container">
    <h1>Connexion aux Jeux Olympiques Paris 2024</h1>

     <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                          <h3 class="font-weight-light my-1 text-center">Se Connecter</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="post" action="{% url 'JO_app:connexion' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Se connecter</button>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{%url 'JO_app:inscription'%}">Vous n'avez pas encore de compte? Identifier-Vous</a><br>
                                <a href=""><i>Mot de Passe oublié?</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
</body>
</html>
