/* Styles pour la mise en page générale */
body {
  font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Style pour le conteneur de l'image et du titre */
.background-image {
    position: relative;
    text-align: center;
}

/* Style pour l'image */
.palais {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* Style pour le titre */
.content-title {
    width: 100%;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Média requête pour des écrans plus petits */
@media screen and (max-width: 768px) {
    .content-title {
        font-size: 8vw;
    }
}

/* Styles pour le header */
header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    z-index: 1;
}



.logo-container {
    
    display: block;
    margin:0 ;
    
   
}

/* Style pour le logo lui-même */
.logo-container img {
    width: 110px; 
    
  
}
/* Style pour la barre de navigation */
nav {
    display: flex;
    align-items: center;
}

/* Style pour les liens de navigation */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links li a {
    position: relative; 
    text-decoration: none;
    color: #333; 
    font-weight: bold;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #490085;

    transition: width 0.5s ease;
}

.nav-links li a:hover::after {
    width: 100%; 
}

/* Ajoutez une transition pour la couleur du texte au survol */
.nav-links li a:hover {
    color: rgb(0, 0, 0); 
    transition: color 0.3s ease; 
}


/* Style pour le panier */
.cart {
    margin-left: auto; 
    position: relative; 
}

.cart a {
    text-decoration: none; 
    color: #333; 
    display: flex; 
    align-items: center;
    font-weight: bold;
    margin-left: 12px;
}

.cart i {
    font-size: 24px; 
    color: #333; 
    margin-right: 5px; 
}

.cart-count {
    background-color: #FF5733; 
    color: #fff; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px;
    font-size: 12px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: absolute; 
    top: -8px; 
    right: -8px; 
}


/* Style pour les boutons d'inscription/connexion */
.auth-button {
    text-decoration: none;
    color: #333; 
    padding: 4px 15px;
    border: 2px solid #333; 
    border-radius: 5px; 
    margin-left: 12px;
}

.auth-button:hover {
     background-color: #490085;
    
    color: #fff;
     text-decoration: none;
}
.auth-text{
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
.auth-icon{
     color: #3d1a83;
    font-size: 20px;
}

/* Styles communs pour le menu hamburger */
.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-toggle.menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Style de la sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -350px; 
    width: 350px; 
    min-width: 50px;
    height: 100%;
    background-color: #00b1b8;
    overflow-y: auto;
    padding-top: 60px;
    transition: left 0.5s ease; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}



/* Style pour les liens de navigation */
.sidebar .nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav-links li {
    padding: 15px 20px;
    border-bottom: 1px solid #ffffff; 
}

.sidebar .nav-links li:last-child {
    border-bottom: none;
}

.sidebar .nav-links li a {
    color: #ffffff; 
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s; 
}

.sidebar .nav-links li a:hover {
    color: #3d1a83; 
}

.sidebar .nav-links li a i {
    margin-right: 10px;
}

/* Bouton pour fermer la sidebar */
.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
}

/* Style pour le conteneur du panier */
.sidebar .cart {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
}

/* Style pour le lien du panier */
.sidebar .cart a {
    color: #3d1a83; 
    text-decoration: none;
    font-size: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #571d1d; 
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Effet de survol pour le lien du panier */
.sidebar .cart a:hover {
    background-color: #3d1a83; 
    
}

/* Style pour l'icône du panier */
.sidebar .cart a i {
    margin-right: 10px;
    color: #ffffff; 
}

/* Style pour le compteur du panier */
.sidebar .cart .cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
}

/* Transition pour le compteur du panier */
.sidebar .cart .cart-count {
    transition: background-color 0.3s, color 0.3s;
}

/* Media query pour les écrans de petite taille (smartphones) */
@media screen and (max-width: 768px) {
    /* Masquer le menu normal pour les smartphones */
    .desktop-nav {
        display: none;
    }

    /* Afficher le menu hamburger pour les smartphones */
    .menu-toggle {
        display: block;
    }

    /* Afficher la sidebar par défaut sur les smartphones */
    .sidebar {
        left:0;
    }

    /* Styles spécifiques pour le menu hamburger sur les smartphones */
    .menu-toggle.menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

/* Style sophistiqué pour le contenu principal */
.content-overlay {
    display: block;
    position: relative;
     
    background-color: #341c63;
    background-size: cover; 
    background-position: center; 
    color:white; 
    padding: 50px; 
    margin:0px auto;
    width: 100%;
    
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



/* Style pour le titre */
.hero-content h1 {
  

    font-size: 36px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

/* Style pour le paragraphe */
.hero-content p {
    font-size: 18px; 
    margin-bottom: 20px;
}

/* Style pour le bouton */
.hero-content .btn {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #ffffff; 
    color:#333; 
    border: 2px solid #ffffff; 
    border-radius: 25px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

/* Style pour le survol du bouton */
.hero-content .btn:hover {
    background-color: #333;
    color: #ffffff; 
    border-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    text-decoration: none; 
}

/* Style pour le titre des cartes des sports */
.section-title {
    text-align: center; 
    margin-top: 60px;
    font-size: 36px; 
    color: #333; 
}


/* Style sophistiqué pour les cartes des sports */
.sports-cards {
    padding: 50px 0; 
}

/* Style pour chaque carte */
.sports-cards .card {
    border: none; 
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; 
}

/* Style pour l'image de la carte */
.sports-cards .card-img-top {
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    height: 200px; 
    object-fit: cover; 
}

/* Style pour le titre de la carte */
.sports-cards .card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style pour le texte de la carte */
.sports-cards .card-text {
    color: #555;
}

/* Style pour le survol de la carte */
.sports-cards .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Ajout de style pour les cartes */
.card {
   margin-top: 60px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem; 
}

.card-text {
    color: #555; 
}

.card-img-top {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    max-height: 200px; 
    object-fit: cover; 
}


/* Style des cartes des sites */
.card-site {

    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 400px;
}

/* Style des images des sites */
.card-site img {
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    max-width: 100%; 
    
}

/* Style du titre des sites */
.card-site .card-title {
    font-size: 1.2rem; 
    font-weight: bold; 
    margin-bottom: 0.5rem; 
    
}

/* Style de la localisation des sites */
.card-site .card-location {
    color: rgb(159, 5, 5); 
    font-size: 0.9rem; 
}



footer {
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    padding:0;
    height: 280px;
    border-top: 1px solid #e7e7e7;
    color: #fff;
}


.footer-link {
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-logo {
    height: 60px;
    margin-left: 15px;
    vertical-align: middle;
}

.social-links {
    display: inline-block;
    margin-left: 15px;
}

.social-link {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.social-link:hover {
    color: #007bff;
}



@media (max-width: 768px) {
    .text-end {
        text-align: center !important;
    }
    
    .social-links {
        margin-top: 10px;
    }
}









/* reservation.css */


h1, h2 {
    
    text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

td:first-child {
    width: 30%;
    font-weight: bold;
}

.ticket-info {
    background-color: #f9f9f9;
}

.tickets-info table {
    margin-top: 20px;
}

/* Style spécifique pour les Jeux Olympiques de Paris 2024 */
.paris2024 {
    color: #0055A4; 
    font-weight: bold;
}

.container-panier{
    width: 100%;
    height: 100%;
    
    margin: 150px auto;

}

.panier-heading {
    color: #2e0b72;
    margin-top: 0;
}
.offres-list {
    list-style-type: none;
    padding: 0;
}
.offre-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.offre-info {
    flex: 1;
}
.offre-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}
.offre-info p {
    margin: 0;
    color: rgb(128, 0, 0);
}
.offre-prix {
    font-size: 20px;
    color: #007bff;
}
.supprimer-offre {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.supprimer-offre:hover {
    background-color: #c82333;
}
#payment-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
#payment-button:hover {
    background-color: #0056b3;
}
#auth-message a {
    color: #007bff;
    text-decoration: none;
}
#auth-message a:hover {
    text-decoration: underline;
}

        /* Intégration des styles CSS */
        .reservation-table {
            width: 100%;
            border-collapse: collapse;
            margin: 250px auto; 
        }

        .reservation-table th, .reservation-table td {
            border: 1px solid #ddd;
            padding: 12px; 
            text-align: center; 
        }

        .reservation-table th {
            background-color: #007bff;
            color: #fff; 
        }

        .reservation-table tr:hover {
            background-color: #f2f2f2;
        }

      /* Boutons */
.btn {
    display: inline-block;
    padding: 10px 16px; 
    text-align: center;
    text-decoration: none;
    color: #5228a7; 
    margin-left: 35px;
    background-color: #fff;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn:hover {
    background-color: #5228a7; 
    color: #ffffff; 
}


 .container-panier {
        max-width: 600px;
        margin-top:170px;
        padding: 50px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .summary {
        margin-top: 20px;
    }
    .payment-options {
        margin-top: 20px;
    }
    .payment-options img {
        width: 50px; 
        margin-right: 10px;
    }

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



  