{% extends 'base.html' %}
{% load static %}
{% block title %}Page Principale{% endblock %}

{% block content %}
<main class="content-container" id="contenu">
    <div class="background-image">
        <img class="palais" src="{% static 'images/tour_eiffel.jpg' %}" alt="Grand Palais" width="100%">
        <h1 class="content-title">Bienvenue sur les Jeux Olympiques Paris 2024 !</h1>
    </div>

    <div class="content-overlay">
        <!-- Contenu principal -->
        <section class="hero">
            <div class="hero-content">
                <h1>Achetez vos billets sur le site des Jeux Olympiques Paris 2024</h1>
                <p>Assistez aux plus grands moments de l'histoire sportive !</p>
                {% if not user.is_authenticated %}
                    <a href="{% url 'JO_app:connexion' %}" class="btn">Identifier-vous</a>
                {% endif %}
            </div>
        </section>
    </div>
    
    <!-- Titre des cartes des sports -->
    <h2 class="section-title">Découvrez nos sports</h2>
    <!-- Cartes des sports -->
    <section class="sports-cards">
        <div class="container">
            <div class="row justify-content-center">
                {% for sport in sports %}
                <div class="col-lg-3 mb-4">
                    <div class="card">
                        <img src="{% static sport.image %}" class="card-img-top" alt="{{ sport.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ sport.nom }}</h5>
                            <p class="card-text">{{ sport.description }}</p>
                            <!-- Afficher les offres pour ce sport -->
                            <a href="{% url 'JO_app:detail_sport' pk=sport.pk %}" class="btn">Reserver</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!-- Titre des cartes des sites -->
    <h2 class="section-title">Sites des Jeux Olympiques de Paris</h2>
    <!-- Cartes des sites -->
    <section class="sites-cards">
        <div class="container">
            <div class="row justify-content-center">
                {% for site in sites %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="{% static site.image %}" class="card-img-top" alt="{{ site.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ site.name }}</h5>
                            <p class="card-text">{{ site.location }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


</main>
{% endblock %}
