<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Offres disponibles</h1>
    {% if offres %}
        {% for offre in offres %}
            <div>
                <h2>{{ offre.type }}</h2>
                <p>{{ offre.description }}</p>
                <p>Prix : {{ offre.prix }}</p>
                <form action="{% url 'JO_app:ajouter_au_panier' offre.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-ajouter-au-panier">Ajouter au panier</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune offre disponible pour le moment.</p>
    {% endif %}
</body>
</html>
