
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jeux Olympiques Paris 2024{% endblock %}</title>

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <!-- Ajouter d'autres liens CSS si nécessaire -->
</head>
<body>
    <footer>
        <div class="container-fluid mt-5">
            <div class="row align-items-center justify-content-center" style="min-height: 220px;">
                
                <div class="col-md-12 d-flex flex-column flex-md-row justify-content-center align-items-center text-center">
                    <div class="footer-links mb-3 mb-md-0">
                        <a href="#" class="footer-link">About Us</a>
                        <a href="#" class="footer-link">Services</a>
                        <a href="#" class="footer-link">FAQ</a>
                        <a href="#" class="footer-link">Contact Us</a>
                    </div>
                    <img src="{% static 'images/paris_2024.png' %}" alt="Logo des Jeux Olympiques" class="footer-logo mx-3">
                    <div class="social-links">
                        <a href="lien_vers_facebook" class="social-link"><i class="fab fa-facebook-f"></i></a>
                        <a href="lien_vers_twitter" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="lien_vers_instagram" class="social-link"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex flex-column justify-content-end align-items-center text-center">
                    <p>&copy; Jeux Olympiques Paris 2024. Tous droits réservés.</p>
                </div>

        </div>
    </footer>
</body>
</html>


