<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer une offre du panier</title>
    <!-- Inclure les liens vers les fichiers CSS nécessaires -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Supprimer une offre du panier</h1>
        <p>Êtes-vous sûr de vouloir supprimer cette offre du panier ?</p>
        <!-- Formulaire pour envoyer une requête POST pour supprimer l'offre -->
        <form action="{% url 'JO_app:supprimer_panier' offre_id=offre_id %}" method="post">
            {% csrf_token %}
            <button type="submit">Confirmer la suppression</button>
        </form>
    </div>
</body>
</html>
